<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <h1>Login</h1>
<form method="post" action="/user/login">
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>
</body>
</html>