<!DOCTYPE html>
<html>
  <head>
    <title>Usuários</title>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <main>
        <table id="tablePreview" class="table table-hover">
      
            <thead>
              <tr>
                <th>id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Role</th>
              </tr>
            </thead>
            
            <% users.map(user => { %>
            <tbody>
                <tr>
                  <th scope="row"><%= user._id %></th>
                  <td><%= user.email %></td>
                  <td><%= user.username %></td>
                  <td><%= user.roles %></td>
                </tr>
            </tbody>
            <% }); %>
            
          </table>
    </main>

  </body>
</html>